<div class="menu__flex">
    
    <span class="menu__responsive">
        <button type="button">
            <i class="fa-solid fa-bars fa-xl"></i>
        </button>
        <img [src]="logoURL" width="130">
    </span>


    <span class="menu__block1">
        <img [src]="logoURL" width="130">
        <nav>
            <ul>
                <li>A ONG</li>
                <li>ANIMAIS NO ABRIGO</li>
                <li>COMO DOAR</li>
                <li>CONTATO</li>
            </ul>
        </nav>
    </span>
        <span class="menu__block2">
        <input type="text" placeholder="Buscar">
            <i class="fa-brands fa-facebook-f fa-lg"></i>
            <i class="fa-brands fa-instagram fa-lg"></i>
            <i class="fa-solid fa-envelope fa-lg"></i>
        </span>
</div>